
html {
  font-size: 16px;
}
body {
  font-family:'Courier New', Courier, monospace;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
}
body {
  background-color: var(--bg-color);
  color:var(--text-color);
  font-family: sans-serif;
}
h1, h2, h3 {
  font-family:'Times New Roman', Times, serif;
  line-height: 1.2;
}
h1 {
  font-size: clamp(1.8rem, 4vw, 3rem);
  color: var(--primary-color);
}
figure{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
}
figcaption{
  background-color: #333;
  color: white;
  font-style: normal;
  padding: 5px;
  font-size: 0.9em;
}
a:focus,
button:focus {
  outline: 3px solid #696868;
  outline-offset: 2px;
}
:root{
  --primary-color: #5a25eb;
  --text-color: #1e293b;
  --bg-color: #e9e6e6;
}
main{
  max-width: 70ch;
  margin: 0 auto;
  padding: 0 1rem;
}